<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="content">
    <div class="row">


      <h3></h3>
      <ul class="nav nav-tabs right-align" routerLinkAction="active">

        <li class="nav-items">
          <a class="nav-link" routerLinkAction="active" routerLink="homeinfo">Info</a>
        </li>
        <li class="nav-items">
          <a class="nav-link" routerLinkAction="active" routerLink="homeupdate">Update</a>
        </li>

        <li class="nav-items">
          <a class="nav-link" routerLinkAction="active">Contact</a>
        </li>
        <li class="nav-items">
          <a class="nav-link" routerLinkAction="active">Document</a>
        </li>
        <li class="nav-items">
          <a class="nav-link" routerLinkAction="active">Notes</a>
        </li>
        <li class="nav-item">
          <a style="cursor: pointer;">Logout</a>
        </li>

      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>


</nav>

